* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin-top: 7rem;
  background-color: #4b145b;
}

.container {
  display: flex;
  background-color: #fff;
  max-width: 70vw;
}

.left {
  margin: 15px;
  max-width: 40vw;
  font-size: 1.5rem;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.question {
  width: 600px;
  border: 2px solid #eae6eb;
  box-shadow: 5px;
  margin: 20px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

svg {
  background-color: lightgray;
  color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.para {
  margin-bottom: 15px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 85vw;
  }
}
