* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header h1 {
  font-size: 2.5rem;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.underline {
  height: 5px;
  width: 80px;
  background-color: #c59d5f;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-section {
  margin-top: 1.5rem;
}

.btn-section button {
  color: #c59d5f;
  padding: 10px;
  margin: 0 12px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-section button:hover {
  background-color: #c59d5f;
  color: #fff;
  border-radius: 5px;
}

section {
  margin-top: 3rem;
  border: 1px solid black;
}
