* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header h1 {
  font-size: 2.5rem;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.underline {
  height: 5px;
  width: 80px;
  background-color: #c59d5f;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-section {
  margin-top: 1.5rem;
}

.btn-section button {
  color: #c59d5f;
  padding: 10px;
  margin: 0 12px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-section button:hover {
  background-color: #c59d5f;
  color: #fff;
  border-radius: 5px;
}

section {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item img {
  width: 190px;
  height: 170px;
  object-fit: cover;
  border: 0.25rem solid #c59d5f;
  margin-right: 1em;
}

article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.item {
  display: flex;
  margin-bottom: 4em;
  padding-right: 2em;
}
